<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">GameScrape</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/saved">Saved Articles</a>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary">Scrape PC Gamer</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary">Clear Articles</button>
    </li>
  </ul>
</nav>
<section class="jumbotron">
  <h1>GameScrape</h1>
</section>
<section class="container-fluid article-container">

</section>