html, body {
  height: 100%;
}

body {
  padding-top: 55px;
}

.jumbotron {
    height: calc(100% - 30px);
    background: url(../images/aleks-dorohovich-1089460-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0;
}

footer {
  height: 30px;
  padding: 5px;
}